<ion-header>
  <ion-toolbar color="light">
      <ion-menu-button color="dark" slot="start"></ion-menu-button>
      <ion-title>{{ 'app.pages.about.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ionbooking-ico.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>HoStream <a>app</a></strong></ion-text>
      </h1>
      
      <p margin-bottom>  The idea of this HoStream app is motivated by Dr.Abdul, in order to improve the hospitality system efficiency
      </p>
      
      <p>  We are  Jerry nad Henry , a student based team from uwo main campus, we learned app development in one internship . This app is built on several technologies, including firebase, ionic4, angular7.
        Our team is passionate and open to all technologies.
        We are always learning and open to all the awesome ideas.
      </p>
        <ion-text><strong>contact : zliu633@uwo.ca , henryhan1997@gmail.com  </strong></ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="animated fadeIn">
    <ion-toolbar color="light">
        <ion-grid no-padding>
            <ion-row>
                <ion-col size="4" no-padding>
                    <ion-button size="small" shape="round" expand="full" fill="clear" color="dark" routerLink="/home">
                        <ion-icon slot="start" name="home"></ion-icon>
                        home
                    </ion-button>
                </ion-col>
                <ion-col size="4" no-padding>
                    <ion-button size="small" shape="round" expand="full" fill="clear" color="dark" routerLink="/booking-list">
                        <ion-icon slot="start" name="beer"></ion-icon>
                        bookings
                    </ion-button>
                </ion-col>
                <ion-col size="4" no-padding>
                    <ion-button size="small" shape="round" expand="full" fill="clear" color="dark" routerLink="/about">
                        <ion-icon slot="start" name="cog"></ion-icon>
                        {{ 'app.pages.menu.settings' | translate }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>