<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="light" class="user-profile" style="box-shadow:2px 5px  5px  #dddddd; border-radius: 7px;">

          <ion-item margin-bottom>
            <ion-avatar slot="start" class="user-avatar">
              <img src="assets/img/avartar.jpg">
            </ion-avatar>
            <ion-label>
              <ion-text color="dark">
                <h1><strong ngModel="name">{{name}}</strong></h1>
              </ion-text>
              <ion-text color="dark">
                <h3 ngModel="email">
                  {{email}}
                </h3>
              </ion-text>
              <ion-menu-toggle class="mto" auto-hide="false">
                <a class="text08" tappable (click)="goToEditProgile()">
                  <ion-text color="dark">
                    <ion-icon name="contact"></ion-icon>
                    <strong>{{ 'app.pages.menu.editprofile' | translate }}</strong>
                  </ion-text>
                </a> <ion-text color="secondary"> | </ion-text> 
                <a class="text08" tappable (click)="logout()">
                  <ion-text color="dark">
                    <ion-icon name="log-out"></ion-icon>
                    <strong>{{ 'app.pages.menu.logout' | translate }}</strong>
                  </ion-text>
                </a>
              </ion-menu-toggle>
            </ion-label>
          </ion-item>

        </ion-toolbar>
      </ion-header>

      <ion-content class="bg-profile">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="[p.direct]" [routerLink]="[p.url]" color="light">
              <ion-icon slot="start" [name]="p.icon"  color="dark"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
