<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title color="dark">Board List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="videos" >
    <video class="videogular-container" width="400" height="250" margin-start="-30" [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source src="http://18.217.166.228/hls/test.m3u8" type="video/mp4">
    </video>
    <img margin-top="1000" margin-start="300" src="../../assets/img/logo.gif">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light">
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
            <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
            <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>


