<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Board List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="videos" >
    <video class="videogular-container" width="400" height="250" margin-start="-30" [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source src="http://ec2-18-224-212-30.us-east-2.compute.amazonaws.com/hls/test.m3u8" type="video/mp4">
    </video>
    <img margin-top="1000" src="../../assets/img/logo.gif">
</ion-content>


