<ion-header>
    <ion-toolbar color="light">
        <ion-menu-button color="dark" slot="start"></ion-menu-button>
        <ion-title>
            <ion-text color="dark">
                <!-- [placeholder]="translate.get('userlist.search')" -->
                <!-- {{ 'app.name' | translate }} -->
                Hos<ion-text color="secondary" class="fw700">Tream</ion-text>
            </ion-text>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="whitesmoke">
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <ion-card style="width: 400px ; height: 300px">            
                <ion-img no-margin  class="displayed"   src="assets/img/img1.jpg"></ion-img>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card style="width: 400px ; height: 300px">
                <ion-card-header color="dark">TODO
                </ion-card-header>
                <ion-card-content>
                    <ion-item *ngFor="let todo of todos">
                        <ion-icon slot="start" name="arrow-dropright"></ion-icon>
                        <ion-label>{{todo.content}}</ion-label>
                        <ion-text color="secondary">by {{todo.duedate}}</ion-text>
                    </ion-item>
                    <ion-item>
                        <ion-icon slot="start" name="add"></ion-icon>
                        <ion-input placeholder="todo:"></ion-input>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
    <ion-grid [fixed]="true">
        <ion-row>
            <ion-col>
                <ion-item tappable="" lines="none">
                    <img src="assets/img/doctor.png"  (click)="go()" class="call_img">
                </ion-item>
                <ion-text color="dark" class="textTitle">OR list</ion-text>
            </ion-col>
            <ion-col>
                <ion-item tappable="" lines="none">
                   <img src="assets/img/wait.png" (click)="goBookcase()" class="call_img">
                </ion-item>
                <ion-text color="dark" class="textTitle2">Bookcase</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item tappable="" lines="none">
                    <img src="assets/img/emerg.png"  class="call_img">
                
                </ion-item>
                <ion-text color="dark" class="textTitle2">Emergency</ion-text>
            </ion-col>
            <ion-col>
                <ion-item tappable="" lines="none">
                    <img src="assets/img/call.png" class="call_img">
                </ion-item>
                <ion-text color="dark" class="textTitle">Contact</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer class="animated fadeIn">
    <ion-toolbar color="light">
        <ion-grid no-padding>
            <ion-row>
                <ion-col size="4" no-padding>
                    <ion-button size="small" shape="round" expand="full" fill="clear" color="dark" routerLink="/home">
                        <ion-icon slot="start" name="home"></ion-icon>
                        home
                    </ion-button>
                </ion-col>
                <ion-col size="4" no-padding>
                    <ion-button size="small" shape="round" expand="full" fill="clear" color="dark" routerLink="/booking-list">
                        <ion-icon slot="start" name="beer"></ion-icon>
                        bookings
                    </ion-button>
                </ion-col>
                <ion-col size="4" no-padding>
                    <ion-button size="small" shape="round" expand="full" fill="clear" color="dark" routerLink="/about">
                        <ion-icon slot="start" name="cog"></ion-icon>
                        {{ 'app.pages.menu.settings' | translate }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
