.call_img{
    margin-top: 30px;
    margin-left: 20px;
    width: 80%;
}
.slogan{
    margin-top: 0%;
}
.emer_img{
    margin-top: 23px;
    margin-left: 20px;
    width: 80%;
}
.logo{
    width: 70%;
    height:70%;
}
.bg{
    color: whitesmoke;
}
ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
}
