<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.editprofile.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="assets/img/avatar.jpg">
      <h1 class="fw500">Jerry Ryu</h1>
      <h2 color="light" margin-bottom>Patient</h2>
      <ion-button icon-left color="secondary">
        <ion-icon name="photos"></ion-icon> 
        {{ 'app.label.edit' | translate }} / {{ 'app.label.insertavatar' | translate }}
      </ion-button>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">{{ 'app.label.userdata' | translate }}</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">{{ 'app.label.fullname' | translate }}:</ion-label>
              <ion-input inputmode="text" placeholder="Ex..: Joe Doe" value="Jerry ryu"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">{{ 'app.label.email' | translate }}:</ion-label>
              <ion-input inputmode="email" placeholder="Ex.: joe@doe.com" value="zliu633@uwo.ca"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">{{ 'app.label.address' | translate }}:</ion-label>
              <ion-input inputmode="text" placeholder="Ex.: 680 wonderland rd"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark">{{ 'app.label.city' | translate }}</ion-label>
              <ion-select>
                <ion-select-option value="nes">New York</ion-select-option>
                <ion-select-option value="n64">Los Angeles</ion-select-option>
                <ion-select-option value="ps">London</ion-select-option>
                <ion-select-option value="genesis">Paris</ion-select-option>
                <ion-select-option value="saturn">São Paulo</ion-select-option>
                <ion-select-option value="snes">Tokyo</ion-select-option>
                <ion-select-option value="snes">New Delhi</ion-select-option>
              </ion-select>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark">{{ 'app.label.state' | translate }}</ion-label>
              <ion-select>
                <ion-select-option value="nes">NY</ion-select-option>
                <ion-select-option value="n64">CA</ion-select-option>
                <ion-select-option value="ps">Greater London</ion-select-option>
                <ion-select-option value="genesis">Paris</ion-select-option>
                <ion-select-option value="saturn">SP</ion-select-option>
                <ion-select-option value="snes">Kantō</ion-select-option>
                <ion-select-option value="snes">Delhi</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-radio-group>
              <ion-list-header color="light">
                <ion-label class="fw700">{{ 'app.label.usertype' | translate }}</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label color="primary">Patient</ion-label>
                <ion-radio slot="start" value="customer" checked></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label color="primary">Doctor</ion-label>
                <ion-radio slot="start" value="agent"></ion-radio>
              </ion-item>
            </ion-radio-group>
              
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button size="large" expand="full" color="dark" (click)="sendData()">{{ 'app.label.edit' | translate }}</ion-button>
  </ion-card>
    
</ion-content>
