<ion-header>
  <ion-toolbar color="light">
      <ion-menu-button color="dark" slot="start"></ion-menu-button>
      <ion-title>{{ 'app.pages.bookinglist.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">
  <ion-grid>
    <ion-row>
      <ion-col size="12" margin-bottom>
        <ion-card *ngIf="!bookings.length" class="bg-white" margin-top>
          <ion-card-content>
            <p text-center>
              <ion-text color="primary">{{ 'app.pages.bookinglist.title.nores' | translate }}</ion-text>
            </p>
          </ion-card-content>
        </ion-card>
  
        <ion-list>

          <ion-item tappable routerLink="/hotel-detail/{{booking.hotel.id}}" *ngFor="let booking of bookings">
            <ion-thumbnail slot="start">
              <img [src]="booking.hotel.thumb">
            </ion-thumbnail>
            <ion-label>
              <h2>
                <ion-text color="primary">{{booking.hotel.name}}</ion-text>
              </h2>
              <p>{{booking.hotel.address}} ∙ {{booking.hotel.price | currency }}</p>
              <ion-badge color="success">{{ 'app.label.booked' | translate }}</ion-badge>
            </ion-label>
          </ion-item>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light" (click)="go()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer class="animated fadeIn">
    <ion-toolbar color="light">
        <ion-grid no-padding>
            <ion-row>
                <ion-col size="4" no-padding>
                    <ion-button size="small" shape="round" expand="full" fill="clear" color="dark" routerLink="/home">
                        <ion-icon slot="start" name="home"></ion-icon>
                        home
                    </ion-button>
                </ion-col>
                <ion-col size="4" no-padding>
                    <ion-button size="small" shape="round" expand="full" fill="clear" color="dark" routerLink="/booking-list">
                        <ion-icon slot="start" name="beer"></ion-icon>
                        bookings
                    </ion-button>
                </ion-col>
                <ion-col size="4" no-padding>
                    <ion-button size="small" shape="round" expand="full" fill="clear" color="dark" routerLink="/about">
                        <ion-icon slot="start" name="cog"></ion-icon>
                        {{ 'app.pages.menu.settings' | translate }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>