<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    <ion-title color="dark">bookcase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="onBookForm">
    <ion-card>
        <ion-card-content>
            <ion-card-subtitle color="dark">Times</ion-card-subtitle>
            <ion-item lines="inset">
                <ion-label class="my-label" color="dark">Dates</ion-label>
                <ion-datetime display-format="DD/MM/YYYY" picker-format="DDDD MMMM YYYY" placeholder="today's date" formControlName="date"></ion-datetime> 
            </ion-item>
            <ion-item lines="inset">
                <ion-label stacked color="dark" class="my-label"> Operations</ion-label>
                <ion-input placeholder="                    " formControlName="operationType"></ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-label stacked color="dark" class="my-label"> hour</ion-label>
                <ion-datetime display-format="HH:mm:ss" picker-format="HH:mm:ss" placeholder="total time" formControlName="period"></ion-datetime>
            </ion-item>
        </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-card-content>
            <ion-card-subtitle color="dark">Surgeon</ion-card-subtitle>
                    <ion-item button lines="none" (click)="go()">
                        <ion-icon name="contact" color="dark"></ion-icon>
                        <ion-label stacked color="dark" class="my-label">Surgeon Name</ion-label>
                        <ion-text color='secondary'>{{nameSelected}}</ion-text>
                    </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-subtitle color="dark">Priority</ion-card-subtitle>
            <ion-item lines="none">
                <ion-range min="1" max="4" step="1" snaps="true" ticks="false" color="dark"  formControlName="prioritySelected" (ionChange)="show(onBookForm.get('prioritySelected').value)"></ion-range>
                <ion-icon color="dark" size="small" slot="start" name="warning"></ion-icon>
                <ion-icon color="dark" slot="end" name="warning"></ion-icon>
                <ion-text color="secondary">{{priority}}</ion-text>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-subtitle color="dark">Equipment</ion-card-subtitle>
            <ion-item lines="none">
                <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..." formControlName="equipment"></ion-textarea>
            </ion-item>
            <ion-card-subtitle color="dark">Anaesthesia</ion-card-subtitle>
            <ion-item lines="none">
                <ion-textarea rows="2" cols="4" placeholder="Enter any notes here..." formControlName="anatheria"></ion-textarea>
            </ion-item>
        </ion-card-content>
    </ion-card>
    </form>
    <ion-button align="center" class="buttonNext" expand="block" color="secondary"   (click)="nextPage()" [disabled]="!onBookForm.valid">Next</ion-button>
    <ion-button color="dark" align="center" class="buttonNext" expand="block"    (click)="gotoList()" *ngIf="showBtn">send</ion-button>
</ion-content>
