<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    <ion-title color="dark">bookcase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
            <ion-card-subtitle color="dark">Time</ion-card-subtitle>
            <ion-item lines="inset">
                <ion-label class="my-label" color="dark">Date</ion-label>
                <ion-datetime display-format="MM/YYYY" picker-format="MMMM YYYY" placeholder="today's date"></ion-datetime>
            </ion-item>
            <ion-item lines="inset">
                <ion-label stacked color="dark" class="my-label"> Operation</ion-label>
                <ion-input placeholder="                    warn"></ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-label stacked color="dark" class="my-label"> # of hour</ion-label>
                <ion-datetime display-format="HH:mm:ss" picker-format="HH:mm:ss"></ion-datetime>
            </ion-item>
        </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-card-content>
            <ion-card-subtitle color="dark">Surgeon</ion-card-subtitle>
                    <ion-item button lines="none" (click)="go()">
                        <ion-icon name="contact" color="dark"></ion-icon>
                        <ion-label stacked color="dark" class="my-label">Surgeon Name</ion-label>
                    </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-subtitle color="dark">Priority</ion-card-subtitle>
            <ion-item lines="none">
                <ion-range min="1000" max="2000" step="250" snaps="true" ticks="false" color="dark"></ion-range>
                <ion-icon color="dark" size="small" slot="start" name="warning"></ion-icon>
                <ion-icon color="dark" slot="end" name="warning"></ion-icon>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-subtitle color="dark">Equipment</ion-card-subtitle>
            <ion-item lines="none">
                <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
            </ion-item>
            <ion-card-subtitle color="dark">Anatheria</ion-card-subtitle>
            <ion-item lines="none">
                <ion-textarea rows="2" cols="4" placeholder="Enter any notes here..."></ion-textarea>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-button align="center" class="buttonNext" expand="block" color="primary">Next</ion-button>
</ion-content>
